<html>
  <head>
    <title>Text to Image convertor</title>
  </head>
  <body>
    <h1>This is a text to image convertor</h1>
    <p>enter your text here. It is now <%= Time.now %></p>
  </body>
</html>  
  